.app {
  width: 90vw;
  margin: 0 auto;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

header {
  position: relative;
  flex-basis: 30vh;
  overflow: hidden;
  text-align: center;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0 10px 15px silver;
}

main {
  flex-grow: 1;
  display: flex;
  flex-direction: row;
  margin-top: 1vw;
}

aside {
  flex-basis: 10%;
  position: relative;
}

aside ul {
  height: 50%;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0 10px 15px silver;
  margin-right: 1vw;

}

.clock {
  position: absolute;
  bottom: 0;
  width: 90%;
  height: 40px;
  line-height: 40px;
  text-align: center;
  color: #58a6ff;
  background-color: #fff;
  font-size: 24px;
  box-shadow: 0 10px 15px silver;
  border-radius: 1vw;
  margin-right: 1vw;
}

footer {
  width: 100%;
  margin: 1vw auto;
  padding: 10px 0;
  text-align: center;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0 10px 15px silver;
  color: #58a6ff;
}

.blog {
  flex-basis: 70%;
  flex-grow: 1;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0 10px 15px silver;
}

.switch {
  position: relative;
  width: 100%;
  height: 20%;
  margin: 20% auto 20% auto;
}

.switch .bar {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 3vw;
  height: 1vw;
  background-color: #fff;
  border-radius: 1vw;
  box-shadow: 0 10px 15px #333;
  z-index: 0;
}

.switch .circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-100%, -50%);
  width: 1.5vw;
  height: 1.5vw;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 10px 15px #333;
  cursor: pointer;
  transition: 0.2s;
}

.switch .circle.night {
  transform: translate(0, -50%);
}

@media (max-width: 1024px) and (orientation: landscape) {
  .switch .bar {
    width: 6vw;
    height: 2vw;
  }

  .switch .circle {
    width: 3vw;
    height: 3vw;
  }

}

@media (max-width: 640px) and (orientation: landscape) {
  header {
    flex-basis: 15vh;
  }

  nav a,
  h3.clock,
  footer p {
    font-size: 14px;
  }

  div.homePage {
    font-size: 18px;
  }

}

@media (max-width: 768px) and (orientation: portrait) {
  .app {
    width: 100vw;
  }

  header {
    position: relative;
    flex-basis: 10vh;
    box-shadow: 0 5px 8px silver;

  }

  main {
    flex-direction: column;
    box-shadow: 0 5px 8px silver;
  }

  aside {
    display: flex;
    flex-direction: row;
    margin-bottom: 1vh;
    box-shadow: 0 5px 8px silver;
  }

  h3.clock {
    position: inherit;
    flex-basis: 30%;
  }

  nav {
    flex-basis: 70%;
    flex-grow: 1;
  }

  nav ul {
    display: flex;
    flex-direction: row;
    margin: 0;
    height: 100%;
    box-shadow: 0 5px 8px silver;
  }

  nav ul li {
    flex-basis: 30%;
    margin: 0 auto 0 auto;
  }

  div.switch {
    position: inherit;
    margin: 2vh 0 0 0;
    flex-basis: 30%;
  }

  .switch .bar {
    width: 6vw;
    height: 2vw;
  }

  .switch .circle {
    width: 3vw;
    height: 3vw;
  }

}

@media (max-width: 360px) and (orientation: portrait) {

  nav,
  .clock {
    font-size: 14px;
  }

  div.switch {
    margin: 3vh 0 0 0;
  }

  .switch .bar {
    width: 9vw;
    height: 3vw;
  }

  .switch .circle {
    width: 4.5vw;
    height: 4.5vw;
  }

  footer {
    font-size: 12px;
    padding: 5px;
  }
}