div.calculator {
    width: 40vw;
    margin: 3vw auto auto auto;
    padding: 10px;
    box-shadow: 0 10px 15px silver;
    background: linear-gradient(128deg, rgba(149, 149, 149, 0.1) 0%, rgba(121, 121, 121, 0.1) 100%);
    border-radius: 1vw;

}

div.lastClick,
div.number,
div.result {
    min-width: 30%;
    text-align: right;
    color: #555;
    padding-right: 8px;
    height: 4vh;
    line-height: 4vh;

}

div.result {
    font-size: 28px;
}

div.lastClick {
    font-size: 16px;
}

div.interface {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.interface button {
    flex-basis: 33.33%;
    height: 4vh;
    background: rgb(149, 149, 149);
    background: linear-gradient(128deg, rgba(149, 149, 149, 0.1) 0%, rgba(121, 121, 121, 0.1) 100%);
    color: #58a6ff;
    outline: none;
    font-size: 18px;
    cursor: pointer;
}

.interface button:hover {
    background: rgb(128, 128, 128);
    background: linear-gradient(128deg, rgba(128, 128, 128, 1) 0%, rgba(99, 99, 99, 1) 100%);
}

@media (max-width: 640px) and (orientation: landscape) {

    .interface button {
        height: 6vh;
        font-size: 14px;
    }

    div.lastClick,
    div.number {
        height: 5vh;
        line-height: 5vh;
        font-size: 14px;
    }

    div.result {
        height: 5vh;
        line-height: 5vh;
        font-size: 18px;
        font-weight: bold;
    }
}

@media (max-width: 768px) and (orientation: portrait) {
    div.calculator {
        width: 70%;
        margin-top: 10vh;
    }
}