.tools {
    display: flex;
    flex-direction: row;
}

.tools .tool {
    flex-basis: 25%;
    margin: 10vh auto 0 auto;
    text-align: center;
    transition: 0.2s;
}

.tool:hover {
    transform: scale(1.02);
}

.tool h4 {
    letter-spacing: 2px;
    border-bottom: 1px solid #444;
    padding: 2%;
}

.tool p {
    text-transform: none;
    margin: 5%;
    line-height: 150%;
}

.tool a:hover {
    color: #444
}

@media (max-width: 1024px) and (orientation: landscape) {

    .tool p {
        font-size: 16px
    }

    .tool h4 {
        font-size: 18px
    }
}

@media (max-width: 640px) and (orientation: landscape) {

    .tool p {
        font-size: 12px
    }

    .tool h4 {
        font-size: 14px
    }

    .tools .tool {
        flex-basis: 31%;
        margin-top: 5vh;
    }


}

@media (max-width: 768px) and (orientation: portrait) {
    .tools {
        flex-direction: column;
    }

    .tools .tool {
        width: 90%;
        margin-top: 3vh;
    }
}

@media (max-width: 360px) and (orientation: portrait) {
    .tools .tool h4 {
        font-size: 14px;
    }

    .tools .tool p {
        font-size: 14px;
    }
}